# Auth0 Configuration
AUTH0_DOMAIN=sistema-orcamentario.us.auth0.com
AUTH0_AUDIENCE=https://sistema-orcamentario.us.auth0.com/api/v2/
AUTH0_CLIENT_ID=RMc97GH817mtDf60zSpVvXIr2nJPGbUH
AUTH0_CLIENT_SECRET=4caLWi0Ur_0kCGmj46JQpP740x-LBerZ_sgWroEpbZHJ_kdIJbpv0jVhpI7tdR0G

# JWT Local
JWT_SECRET=sistema-orcamentario-jwt-secret-2025

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sistema_orcamentario
